﻿
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h2>Продажа книг</h2>
    <table class="table">
        <tr>
            <td>
                Название
            </td>
            <td>
                Автор
            </td>
            <td>
                Цена
            </td>
        </tr>
        @foreach (var item in ViewBag.Books)
        {
            <tr>
                <td>
                    <p>@item.Name</p>
                </td>
                <td>
                    <p>@item.Author</p>
                </td>
                <td>
                    <p>@item.Price</p>
                </td>
                <td>
                    <p>
                        <a href="/Purshare/Buy">
                            Купить
                        </a>
                    </p>
                </td>
            </tr>
        }
    </table>
</div>

